<!-- fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="main-header">
    <header>
        <h1>Добро пожаловать в Книжный магазин</h1>
        <nav>
            <a th:href="@{/books}">Книги</a> |
            <a th:href="@{/stores}">Магазины</a> |
            <a th:href="@{/orders}">Заказы</a> |
            <a th:href="@{/about}">О сайте</a> |
            <a th:href="@{/login}">Вход</a>
        </nav>
    </header>
</div>
</body>
</html>
